<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Successfully Placed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
    }

    .order-details {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .btn-home {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="order-details">
          <h2 class="text-center mb-4">Order Successfully Placed!</h2>
          <p class="text-center">Thank you for your order. Your order has been successfully placed.</p>
          
          </ul>
          <div class="text-center mt-4">
            <a href='/' class="btn btn-primary btn-home">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>